#article-wrapper {
  display: inline-flex;
}

#article-wrapper .article-card {
  border-style: outset;

  border-width: 7px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 80vw;
}

#article-wrapper .article-image {
  width: 200px;
  height: 200px;
  padding: 10px;
}

#article-wrapper .item-details {
  width: 70vw;
}

#article-wrapper .button-container {
  display: flex;
  justify-content: center;
}

#article-wrapper .button-style {
  margin: 20px;
  padding: 15px;
}
