* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-size: 4em;
  line-height: 1;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

h2 {
  font-size: 3em;
}
